Patches/Bass/
Patches/Keys/
Patches/Leads/
Patches/Pads/
Patches/Rhythmic/
Samples/Abstract/
Samples/Environments/
Samples/Instruments/
Samples/Objects/
Samples/Synthesizers/
Samples/Toys/
Samples/Voice/

